{% extends 'main.html' %}
{% load static %}

{% block title %}Сброс пароля | {{ block.super }}{% endblock %}

{% block content %}
<div class="form-create">
    <h2>Введите новый пароль</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
        <div class="form-field-user">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
        {% endfor %}
        {{ form.non_field_errors }}
        <div class="btn-create register-btn">
            <input type="submit" class="btn" value="Сменить пароль">
        </div>
    </form>
</div>

{% endblock %}