{% extends 'main.html' %}
{% load static %}

{% block title %}Регистрация | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs-list">
    <ul class="breadcrumb">
        <li><a href="{% url 'home' %}">Главная</a></li>
        <li>Регистрация</li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="form-create">
    <form action="" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
        <div class="form-field-user">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
        {% endfor %}
        {{ form.non_field_errors }}
        <div class="btn-create register-btn">
            <input type="submit" class="btn" value="Зарегистрироваться">
        </div>
    </form>
</div>
{% endblock %}