{% extends 'main.html' %}
{% load static %}

{% block title %}Сброс пароля | {{ block.super }}{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs-list">
    <ul class="breadcrumb">
        <li><a href="{% url 'home' %}">Главная</a></li>
        <li><a href="{% url 'login' %}">Войти</a></li>
        <li>Сбросить пароль</li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="form-create">
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="btn-login">
            <input type="submit" class="btn" value="Сброс пароля">
        </div>
    </form>
</div>
{% endblock %}